<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
      <a class="navbar-item logo" href="#">
          <img src="../../../assets/gams.png">
      </a>
  </div>
</nav>
<div class="columns principal">
  <div class="column is-one-fifth sidebar">
    <aside class="menu">
      <p class="menu-label">
        General
      </p>
      <ul class="menu-list">
        <li><a>Buscar Carpetas</a></li>
        <li class="animation"><a>Movimientos</a></li>
      </ul>
      <p class="menu-label">
        Administración
      </p>
      <ul class="menu-list">
        <li><a>Gestiones y Categorias</a></li>
        <li><a class="is-active">Estantes</a></li>
        <li><a>Usuarios</a></li>
      </ul>
    </aside>
  </div>
  
  <div class="column">
    <router-outlet></router-outlet>
  </div>
</div>