<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
      <a class="navbar-item logo" href="https://bulma.io">
          <img src="../../../assets/gams.png">
      </a>
  </div>
</nav>
<div class="columns principal">
  <div class="column is-one-fifth sidebar">
    <aside class="menu">
      <p class="menu-label">
        General
      </p>
      <ul class="menu-list">
        <li><a>Buscar Carpetas</a></li>
        <li><a>Movimientos</a></li>
      </ul>
      <p class="menu-label">
        Administración
      </p>
      <ul class="menu-list">
        <li><a>Gestiones y Categorias</a></li>
        <li><a class="is-active">Estantes</a></li>
        <li><a>Usuarios</a></li>
      </ul>
    </aside>
  </div>
  
  <div class="column">
    <div class="block">
      <div id="grid" class="fixed-grid has-4-cols">
        <div class="grid" style="max-width: 300px;">
          <div class="cell">1</div>
          <div class="cell is-col-span-2">2</div>
          <div class="cell is-centered">3</div>
          <div class="cell">4</div>
          <div class="cell">5</div>
          <div class="cell">6</div>
          <div class="cell">7</div>
        </div>
      </div>
    </div>
    <button class="button is-primary is-rounded" (click)="test()">Boton</button>
    <div id="dropdown" class="dropdown">
      <div class="dropdown-trigger">
        <button class="button" aria-haspopup="true" aria-controls="dropdown-menu" (click)="dropdown()">
          <span>Menu contextual</span>
          <span class="icon is-small">
            <i class="fas fa-angle-down" aria-hidden="true"></i>
          </span>
        </button>
      </div>
      <div class="dropdown-menu" id="dropdown-menu" role="menu">
        <div class="dropdown-content">
          <a href="#" class="dropdown-item">
            Dropdown item
          </a>
          <a class="dropdown-item">
            Other
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
