<div class="block">
    <div id="grid" class="fixed-grid has-4-cols">
      <div class="grid" style="max-width: 300px;">
        <div class="cell">1</div>
        <div class="cell is-col-span-2">2</div>
        <div class="cell is-centered">3</div>
        <div class="cell">4</div>
        <div class="cell">5</div>
        <div class="cell">6</div>
        <div class="cell">7</div>
      </div>
    </div>
</div>
  <button class="button is-primary is-rounded" (click)="test()">Boton</button>
  <div class="select is-link">
    <select>
      <option>Select dropdown</option>
      <option>With options</option>
    </select>
  </div>
